@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-dark text-lg-center">Guitar Encyclopedia</h1>
</div>

<div class="text-body text-lg-left">
    <p>
    Here on the Guitar Encyclopdia we have a vast array of information on any known guitars from any known brands. <br />
    Browse our evergrowing roster of guitars stored in our database. You can view images, see detailed technical specifications 
    and compare guitars to each other. Enjoy!
    </p>
    <p>
        <img src="~/images/Guitar_solo_gif.gif" class="w-100"/>
    </p>
</div>
