@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container col-sm">
    <div class="text-center">
        <h1 class="display-4">AccessDenied</h1>
        <p>You must log in to access this page</p>
    </div>
</div>